body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

h1{color:gold;} 
h1{text-align: center;}
h3{color:gold;}
body{color:white;}
body{text-align: center;}
